---
import '../../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image" href="/icon.jpg" />
		<meta name="viewport" content="width=device-width", initial-scale="1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>Awesome Pack Pyro</title>
	</head>
	<body>
		<div class="blog">
			<div class="blog-post">
				<h1>Awesome Pack Pyro</h1>
				<h3>April 21, 2024</h3>

				<p>Blah blah blah</p>
			</div>
		</div>
	</body>
</html>
