---
import '../../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image" href="/icon.jpg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Pistol</title>
	</head>
	<body>
		<header>
			<nav>
			   <a href="../">Home</a>
			   <a href="/blog">Blog</a>
			   <a href="/about">About</a>
			</nav>
		</header>
		<div class="blog">
			<div class="blog-post">
				<h1>Awesome Pack Pistol</h1>
				<h2>April 19, 2023</h2>
				<p>I like to go a little bit in-depth on the high res Pistol I made for the TF2 Awesome Pack back in February. This mostly goes a little in-depth with the texture techniques I used while making this. </p>

				<img src="/blog/pistol/hero.png" width="80%" alt="" class="center">

				<p>First I'll have to make the mesh a bit hi-res. So I have a better time with baking textures and have a chance to simplify the UVs so it's easier to paint on.</p>

				<img src="/blog/pistol/wireframe.png" width="80%" alt="" class="center">

				<p>Then I went ahead and bake 2 texture maps for the mesh. A ambient occlusion map and a world normal map. These 2 texture maps will help out a lot for creating some lighting and shadows within the texture quickly.</p>

				<img src="/blog/pistol/meshmaps.png" width="80%" alt="" class="center">

				<p>At this step I usually put down the basic colors that I need and use the 2 texture maps I mentioned previously to have a general look on how I wanted the texture would be lit. For the world normal map, I extracted the green channel so I could have lighting above the mesh</p>

				<img src="/blog/pistol/setup.png" width="80%" alt="" class="center">

				<p>Then I started to paint! You don't really need any fancy brushes for this case. I just use multiple variants of the same default soft/hard round brush in Photoshop! </p>

				<video src="/blog/pistol/pistol_progress.webm" autoplay loop width="80%" class="center"></video>

				<p>And here it is! After some time of painting in details, lighting, and shadows while looking at the original TF2 Pistol as reference. The texture is done! As a bonus, on the right you can see the swatches I used while painting this texture!</p>

				<img src="/blog/pistol/final_with_swatches.png" width="80%" alt="" class="center">

				<p>And finally we can take look how this pistol looks like in-game! I'm quite proud how this turned out and matches fairly closely to the look of the TF2 Pistol as seen on release day!</p>

				<video src="/blog/pistol/final_in-game.webm" autoplay loop muted width="80%" class="center"></video>
			</div>
		</div>
	</body>
</html>
