:root 
{
    --text: #e6e6e6;
    --blog-background: #726c6c93;
    --blog-background-hover: #ce878793;
}

html
{
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text);
}

h2
{
    color: #a7a7a7;
    font-size: 0.9em;
}

body
{
    background: url(/backgrounds/background.png);
    background-color: #1f1828;
    height: 100%;
    margin: 0;
    background-repeat: repeat-x;
}

code
{
    background-color: #1f1f1f;
    color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 2px;
}

a:link 
{
    color: var(--text);
    text-decoration: none;
}
a:visited
{
    color: var(--text);
    text-decoration: none;
}
a:hover 
{
    color: var(--text);
    text-decoration: underline;
}

.header
{
    background-color: aqua;
}
.footer
{

}

.container
{
    margin: 5%;
    margin-right: 20%;
    margin-left: 20%;
}

.container .content
{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 20px;
    border-radius: 20px;
    background-color: var(--blog-background);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.337);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.container .content:hover
{
    background-color: var(--blog-background-hover);
}

.container .hero-image
{
    float: right;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
    border-style: solid;
    border-color: rgb(141, 116, 49);
    border-width: 2px;
}

.blog
{
    margin-right: 20%;
    margin-left: 20%;
}

.blog .blog-post
{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--blog-background);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.377);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.center 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 600px)
{
    .container
    {
        margin: 5%;
        margin-right: 2%;
        margin-left: 2%;
    }
    .blog
    {
        margin: 0%;
        margin-right: 0%;
        margin-left: 0%;   
    }
    .blog .blog-post
    {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 0px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1180px)
{
    .container
    {
        margin: 5%;
        margin-right: 2%;
        margin-left: 2%;
    }
    .blog
    {
        margin-right: 5%;
        margin-left: 5%;   
    }
}


@media only screen and (min-width: 1180px) and (max-width: 1500px)
{
    .blog
    {
        margin-right: 10%;
        margin-left: 10%;   
    }
}
