:root 
{
    --text: #d4d4d4;
    --text-hover: #ffffff;
    --date: #b3b3b3;
    --blog-background: #3f3c3a;
    --blog-background-hover: #b63535;
    --header-background: #3f3c3a;
    --header-background-hover: #ce878793;
}

html
{
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text);
}

h2
{
    color: var(--date);
    font-size: 0.9em;
}

body
{
    background: url(/backgrounds/default_background.png);
    /*background-color: #1f1828;*/
    background-color: #1f1f1f;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-size:100% auto;
}

code
{
    background-color: #1f1f1f;
    color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 2px;
}

header 
{
    padding: 10px;
    text-align: center;
    margin: 0%;
    background-color: #b63535;
}
header a
{
    display: inline-block;
    padding: 10px;
    margin-right: 20px;
    background-color: var(--header-background);
    font-size: 1.5em;
    transition: 0.3s;
}
header a:hover
{
    background-color: var(--header-background-hover);
}

footer
{

}
a:link 
{
    color: var(--text);
    text-decoration: none;
}
a:visited
{
    color: var(--text);
    text-decoration: none;
}
a:hover 
{
    color: var(--text);
}

.container
{
    max-width: 58rem;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8px;
    padding-right: 8px;
}

.container .content
{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 20px;
    background-color: var(--blog-background);
    border-radius: 5px;
    transition: 0.3s;
}

.container .content:hover
{
    background-color: var(--blog-background-hover);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.377);
}

.container img
{
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    gap: 10px;
    overflow: hidden;
    overflow: auto;
}

.blog
{
    max-width: 60rem;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
}

.blog .blog-post
{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--blog-background);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.377);
}

.blog .blog-post h1
{
    border-style: solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: #8b8b8b;
    padding-bottom: 10px;
}

.blog a:link 
{
    color: var(--text);
    text-decoration: underline;
}
.blog a:hover 
{
    color: var(--text-hover);
}

.center 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blog video
{
    padding-bottom: 10px;
}

/*
@media only screen and (max-width: 600px)
{
    .container
    {
        margin: 5%;
        margin-right: 2%;
        margin-left: 2%;
    }
    .blog
    {
        margin: 0%;
        margin-right: 0%;
        margin-left: 0%;   
    }
    .blog .blog-post
    {

    }
}

@media only screen and (min-width: 601px) and (max-width: 1180px)
{
    .container
    {
        margin: 5%;
        margin-right: 2%;
        margin-left: 2%;
    }
    .blog
    {
        margin-right: 5%;
        margin-left: 5%;   
    }
}


@media only screen and (min-width: 1180px) and (max-width: 1500px)
{
    .blog
    {
        margin-right: 10%;
        margin-left: 10%;   
    }
}

*/
