---
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image" href="/icon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>404</title>
		<meta http-equiv='refresh' content='0; URL=/'>
		<style>
			body{
				background-color: white;
			}
		</style>
	</head>
	<body>
	</body>
</html>
