---
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image" href="/icon.jpg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Justyn</title>
		<style>
			h1 {
				text-align: center;
				font-size: 200px;
			}
			h2{
				text-align: center;
			}
		</style>
	</head>
	<body>

		<h1>404!</h1>
		
		<a href="/"><h2>Go back to homepage</h2></a>
	</body>
</html>
