---
import BaseHead from '../components/BaseHead.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const SITE_TITLE = "Home Page";
const SITE_DESCRIPTION = "Home Page";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<BaseLayout>
		<div class="container">
			<div class="home">
				<h1>About me</h1>
			</div>
		</div>
	</BaseLayout>
	</body>
</html>
