---
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image" href="https://pbs.twimg.com/profile_images/1462927520022646787/_0T21GXE_400x400.jpg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Blog</title>
	</head>
	<body>
		<div class="container">
			<a href="/blogs/pistol">
			<div class="content">
				<h2>Awesome Pack Pistol</h2>
				<p>A short post showing off the process of creating the diffuse texture for the Awesome Pack's Pistol. Originally a Twitter thread</p>
			</div>
			</a>
		</div>
	</body>
</html>
