---
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image" href="/icon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Blog</title>
	</head>
	<body>
	   <header>
	       <nav>
	    	  <a href="/">Home</a>
	    	  <a href="/blog">Blog</a>
	       </nav>
	   </header>
		<div class="container">
			<a href="/blog/spycrab">
				<div class="content">
					<h1>The Spycrab. Why does it exist?</h1>
					<h2>Published on April 21, 2024</h2>
					<p>Spycrab. Originally a Tumblr post</p>
				</div>
			</a>
			<a href="/blog/awesome-pack-release-2023">
				<div class="content">
					<h1>When is the next release of the TF2 Awesome Pack?</h1>
					<h2>Published on August 31, 2023</h2>
					<p>Originally a Tumblr post</p>
				</div>
			</a>
			<a href="/blog/pistol">
				<div class="content">
					<h1>Awesome Pack Pistol</h1>
					<h2>Published on April 19, 2023</h2>
					<p>A short post showing off the process of creating the	diffuse texture for the Awesome Pack's Pistol. Originally a Twitter thread</p>
				</div>
			</a>
		</div>
	</body>
</html>
