---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
	<div class="home">    
		<h1>Hello!</h1>
		<p>Welcome to my website!</p>
	</div>
</BaseLayout>