---
import BaseHead from '../components/BaseHead.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const SITE_TITLE = "Home Page";
const SITE_DESCRIPTION = "Home Page";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<BaseLayout>
		<div class="container">
			<div class="home">
				<h1>Hello!</h1>
				<p>Welcome to my website!</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam magna eros, scelerisque non dictum eget, ornare sed lectus. Fusce lacinia scelerisque mauris, vitae accumsan sem interdum ut. Fusce dui urna, iaculis sed orci vitae, placerat varius mi. Phasellus semper mauris dolor, a molestie tortor maximus consectetur. Nullam et diam commodo, lacinia ipsum ut, faucibus justo. Donec lobortis purus id erat accumsan, id pretium nisi fringilla. Aenean suscipit nisl nec nisl convallis maximus. Sed at odio rhoncus, facilisis ex sed, ornare diam. Sed bibendum, ligula eget malesuada congue, dolor augue feugiat leo, in condimentum dui massa tincidunt leo.</p>
			</div>
		</div>
	</BaseLayout>
	</body>
</html>
