---
import '../styles/global.css';
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			h2 {text-align: center;}
		</style>
	</head>
	<body>

		<h1 style="text-align: center;">This site is under construction!</h1>
		
		<h2>
		<p>Come back when this site is done!</p>
		
		|<a href="https://bsky.app/profile/justyn1.bsky.social">Bluesky</a>|
		<a href="https://www.tumblr.com/justyn1">Tumblr</a>|
		<a href="https://ko-fi.com/justyn1">Ko-fi</a>|
		</h2>
		
		</body>
</html>
