---
const { title, url, date, description } = Astro.props;
---

<a href={url}>
    <div class="content">
        <h1>{title}</h1>
        <h2>Published on {date}</h2>
        <p>{description}</p>
    </div>
</a>