---
const today = new Date();
---

<footer>
	<div class="footer-container">
		&copy; {today.getFullYear()} All rights reserved
		<div class="row" style="font-size: 0.9em;">
				<div class="column" style="padding-top: 50px">
					<h2 style="font-weight: normal;">Social Media</h2>
					<a href="https://x.com/justyn1_"><p>X/Twitter</p></a>
					<a href="https://bsky.app/profile/justyn1.bsky.social"><p>Bluesky</p></a>
					<a href="https://www.tumblr.com/justyn1"><p>Tumblr</p></a>
					<a href="https://www.artstation.com/justyn8"><p>Artstation</p></a>
				</div>
				<div class="column" style="padding-top: 50px">
					<h2 style="font-weight: normal;">Contact</h2>
					<a href="mailto:contactjustyn@gmail.com"><p>Email</p></a>
				</div>
			</div>
		</div>
	</div>
</footer>