---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Your name here. All rights reserved.
	<div class="row">
			<div class="column" style="padding-top: 50px">
				<a href="https://x.com/justyn1_"><p>X (Formally Twitter)</p></a>
				<a href="https://bsky.app/profile/justyn1.bsky.social"><p>Bluesky</p></a>
				<a href="https://www.tumblr.com/justyn1"><p>Tumblr</p></a>
				<a href="https://github.com/justyn0"><p>Github</p></a>
				<a href="https://www.artstation.com/justyn8"><p>Artstation</p></a>
			</div>
			<div class="column" style="padding-top: 50px">
				<a href="mailto:contactjustyn@gmail.com"><p>contactjustyn@gmail.com</p></a>
				<p>Discord: justyn0</p>
			</div>
		</div>
	</div>
</footer>