---
import '../../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image" href="https://pbs.twimg.com/profile_images/1462927520022646787/_0T21GXE_400x400.jpg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>The Spycrab. Why does it exist?</title>
	</head>
	<body>
		<div class="container">
			<div class="content">
				<h1>The Spycrab. Why does it exist?</h1>
				<h3>Date: April 21, 2024</h3>
				<p>A Spycrab is an iconic animation bug for the Spy from Team Fortress 2. This bug was introduced since the game’s launch in 2007 and still exists today! </p>

				<iframe width="560" height="315" class="center-video" src="https://www.youtube.com/embed/3dyQlZziHnw?si=Dws9KvJRA4JM5VmH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

				<p>This post will cover on what causes this bug happen, how to fix it, and why it SHOULDN’T be fixed.</p>

				<h2>Debugging the Spycrab</h2>

				<p>First we need to know how do you become a Spycrab in TF2. To become a Spycrab the player have to pull out the disguise kit, crouch, look up, then start moving in any direction.</p>

				<img src="/blog/spycrab/spycrab_steps.png" class="center" alt="">

				<p>This give us a clue on what’s going on. The issue is related to looking around while crouching with the Spy’s disguise kit. We can take a look at how Valve setup the Spy’s animations since they provided the model sources in the Source SDK. Let’s take a look at spy_movement.qci since that’s where they handle all of the animations related to moving around. From this point I will refer the disguise kit as PDA since that’s what it called in the sources. Looking at the entry for <code>Crouch_PDA</code> and <code>Crouch_Walk_PDA</code> everything seems to be written correctly. Theres nothing wrong with the code itself</p>

				<p><code>Line 15: $sequence Crouch_PDA PDA_crouch_idle loop alignto a_reference addlayer PDA_aimmatrix_crouch_idle  activity ACT_MP_CROUCH_PDA 1</code></p>

				<p><code>Line 424: $MPCrouchWalkWithWeapon Crouch_Walk_PDA 0 0 0 0 0 0 0 0 PDA_crouch_walkN PDA_crouch_walkCenter PDA_aimmatrix_crouch_idle ACT_MP_CROUCHWALK_PDA $infoNode$  </code></p>

				<p>This means that the issue is coming from one of the animations itself. Lets load up the PDA crouch animations in SFM and compare with the normal stand up animations.</p>

				<video src="/blog/spycrab/pda_aimmatrix.webm" autoplay loop class="center"></video>

				<p>Everything looks fine however there’s something odd with the <code>pda_aimmatrix_crouch_idle</code> animation. It’s in a different pose entirely! To summarize what a aim matrix do, the animator put the character in various poses mimicking that the character is looking around. The game will take those poses and blend between them depending on what direction the player is looking. Generally you don’t want to stray way from the idle pose too much since it can cause potential problems when blending between various poses at once.</p>

				<p>With closer inspection, it seems the <code>pda_aimmatrix_crouch_idle</code> animation is actually an early version of the spy’s knife aim matrix animation. Here’s both aim matrices side by side.</p>

				<video src="/blog/spycrab/knife_aimmatrix.webm" autoplay loop class="center" height="500px"></video>

				<h2>The Fix</h2>

				<p>Now knowing that the bug is created by accidentally exporting another aim matrix animation for the wrong weapon. The fix is actually pretty simple! Without touching the animation files itself. We can go into the <code>spy_movement.qci</code> and replace any mention of <code>pda_aimmatrix_crouch_idle</code> with <code>pda_aimmatrix_idle</code> and that’s it! Compiling <code>spy_animations.qc</code> and loading up TF2 we will see the Spycrab no longer works.</p>

				<video src="/blog/spycrab/pda_fix.mp4" autoplay loop muted  class="center" height="500px"></video>

				<h2>But should this bug really be fixed?</h2>

				<p>This is the part where I tell you that the Spycrab bug should never be fixed in TF2. Even though this bug was stemmed from a mistake and it’s pretty simple to fix. This bug should never be fixed purely because it’s very important for the game’s history and community. After this bug was discovered and popularized back in 2008. It spawns plenty of memes within the community and in-game references from community cosmetics and unusuals, an official rare taunt for the disguise kit, warpaints, and a poster from the map Carnival of Carnage a Halloween reskin of Doomsday.</p>

				<img src="/blog/spycrab/scroll_spycrab.png" class="center" alt="">

				<p>Hopefully this post provide some interesting insight on how this iconic bug was created and the process of debugging animations in Source Engine!</p>
			</div>
		</div>
	</body>
</html>
